.bg-wallpaper-transition {
    transition: 1000ms cubic-bezier(0.05, 0.7, 0.1, 1);
    font-size: 1px;
}

@mixin bg-textshadow {
    // text-shadow: mix($shadow, $secondaryContainer, 50%) 1px 0px 3px;
}
.quote-positioner {
    margin: 20px; /* Adjust spacing from the edges */
}

.quote-widget {
    margin: 5rem -115rem 0rem 0rem;
    border-radius: 10px;
    padding: 15px;
}

.quote-text {
    @include titlefont;
    @include bg-textshadow;
    font-size: 2.795rem;
    color: $onLayer0;
}

.quote-author {
    font-size: 18px;
    color: $onLayer0;
    margin-top: 5px;
}

.bg-time-box {
    @include large-rounding;
    margin: 2.045rem;
    padding: 0.682rem;
}

.bg-time-clock {
    @include numbertext;
    @include bg-textshadow;
    font-size: 8.795rem;
    color: $windowtitleOnLayer0;
}

.bg-time-date {
    @include numbertext;
    @include bg-textshadow;
    font-size: 2.591rem;
    color: $onLayer0;
}

.bg-distro-box {
    @include large-rounding;
    margin: 2.045rem;
    padding: 0.682rem;
}

.bg-distro-txt {
    @include titlefont;
    @include bg-textshadow;
    font-size: 2.532rem;
    color: rgba($outline, 0.8);
}

.bg-distro-name {
    @include titlefont;
    @include bg-textshadow;
    font-size: 1.432rem;
    color: $onSecondaryContainer;
}

.bg-graph {
    color: rgba(255, 255, 255, 0.5);
    border-radius: 0.614rem;
    border: 0.682rem solid;
}

.bg-quicklaunch-title {
    @include mainfont;
    color: $onSurfaceVariant;
}

.bg-quicklaunch-btn {
    @include mainfont;
    @include full-rounding;
    background-color: $layer2;
    color: $onLayer2;
    min-width: 4.432rem;
    min-height: 2.045rem;
    padding: 0.273rem 0.682rem;
}

.bg-quicklaunch-btn:hover,
.bg-quicklaunch-btn:focus {
    background-color: $layer2Hover;
}

.bg-quicklaunch-btn:active {
    background-color: $layer2Active;
}

.bg-system-bg {
    @include normal-rounding;
    // background-color: $background;
}

.bg-system-circprog {
    @include fluent_decel_long;
    min-width: 0.205rem; // Trough stroke width
    min-height: 4.091rem; // Diameter
    font-size: 0px;
    padding: 0rem;
    background-color: $layer2;
}

.wallselect-widget {
    .wallselect-content {
        background-color: $surfaceContainer;
        padding: 1.5rem;
        border-radius: $rounding-large;
        border: 0.5px solid $outline;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

        .wallselect-title {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: $onSurface;
        }
    }
}

.ipod-widget {
    @include large-rounding;
    background: $layer0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border: 0.5px solid $outline;
    margin: 0 1rem 1rem;
    .ipod-content {
        padding: 1rem 2.1rem;
        
        .left-section {
            .app-icon {
                color: white;
                opacity: 0.8;
            }
            
            .ipod-cover {
                margin-bottom: 16px;
                
                .cover-art-box {
                    @include large-rounding;
                    background: linear-gradient(160deg, $onSurfaceVariant, $secondaryContainer);
                    min-width: 400px;
                    min-height: 400px;
                    margin-right: 2rem;
                    padding: 5rem;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
                    border: 0.5px solid $outline;
                    
                }
            }
        }
        .cover-art {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
            margin-right:1.3rem;
           
        }
        .track-title {
            @include mainfont;
            font-size: 2.8rem;
            color: $onSurfaceVariant;
        }
        
        .track-artist {
            @include mainfont;
            color: $onSurface;
            margin-top: 0.5rem;
            font-size: 1.8rem;
        }
        .track-info {
            margin: 8px 0;

        }

        .right-section {
            .volume-indicator {
                margin: 0 4px;
                
                .volume-container {
                    min-width: 28px;
                    min-height: 28px;
                    
                    .volume-label {
                        color: white;
                        font-size: 10px;
                        margin: 0;
                    }
                    
                    .volume-progress {
                        min-height: 28px;
                        min-width: 4px;
                        padding: 2px;
                        margin: 2px;
                        background-color: rgba(255, 255, 255, 0.1);
                        color: $secondaryContainer;
                        font-size: 0;
                    }
                }
            }
            
            .app-icon-volume-container{
                background-color: $surfaceContainerLow;
    @include large-rounding;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
                .control-button, 
                .control-buttons {
                    margin-top: 2rem;
                    padding: 0.5rem;
                        min-width: 2.5rem;
                        min-height: 2.5rem;
                        border-radius: 50%;
                        color: $onSurfaceVariant;
                        background: transparent;
                        transition: all 200ms ease;
                        font-size: 2rem;
                        &:hover {
                            background: $surfaceContainerHighest;
                        }
                        
                        &:active {
                            background: $surfaceContainerHigh;
                        }
                        
                        &.active {
                            color: $primary;
                        }
                    }
        
            }
            }
            }
            .cava-visualizer {
            
                .cava-bar {
                    font-family: monospace;
                    min-width: 3px;
                    transition: color 100ms linear;
                    color:$secondary;
                    border-radius: 12px;
                    
                    &.cava-bar-med {
                        color: $secondary;
                    }
                    
                    &.cava-bar-high {
                        color: $primary;
                    }
                }
            }