@import 'material';
@import 'musicmaterial';
@import './wal';
// @import '/musicwal';
@import './colors';
@import './lib_mixins';
$music_transparentize_amount: 0.3;
$music_gradient1: mix($color1, $background, 50%);

// @if $darkmode == True {
//     $music_gradient1: mix($color1, $background, 30%);
// }

$music_gradient2: $color3;
$music_gradient3: $color5;
$music_colorstart_transparentize: 0.3;
$music_extra_transparentize: 0.15;

$secondaryContainer: transparentize(mix(mix($background, $color2, 50%), $color6, 80%), 0.5);
$onSecondaryContainer: mix($color7, $color2, 90%);
@if $darkmode == False {
    $onSecondaryContainer: mix($onSecondaryContainer, black, 50%);
}

.osd-music {
    @include menu_decel;
    @include elevation2;
    margin-top: 0.313rem;
    @include normal-rounding;
    // min-height: 7.159rem;
    min-width: 29.659rem;
    background-color: $layer0;
    padding: 0rem 1.023rem;
    background: // Inspired by Amberol
        linear-gradient(127deg, transparentize($music_gradient1, $music_colorstart_transparentize), transparentize($music_gradient1, $music_colorstart_transparentize - $music_transparentize_amount + $music_extra_transparentize) 70.71%),
        linear-gradient(217deg, transparentize($music_gradient2, $music_colorstart_transparentize), transparentize($music_gradient2, $music_colorstart_transparentize - $music_transparentize_amount + $music_extra_transparentize) 70.71%),
        radial-gradient(circle at 0% 100%, $color4 13%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(336deg, transparentize($music_gradient3, $music_colorstart_transparentize), transparentize($music_gradient3, $music_colorstart_transparentize - $music_transparentize_amount + $music_extra_transparentize) 70.71%),
        linear-gradient($background, $background), // We don't want wallpaper tint, so here's a fully opaque surface
    ;
}

.osd-music-info {
    margin: 1.023rem 0rem;
    padding: 1rem;
    
    .osd-music-cover-art {
        margin-right: 1rem;
        
        background-size: cover;
        background-position: center;
        border-radius: 0.5rem;
        min-width: 4rem;
        min-height: 4rem;
    }
    
    .osd-music-text {
        margin-right: 1rem;
        
        .osd-music-title {
            font-size: 1.1em;
            font-weight: bold;
        }
        
        .osd-music-artists {
            font-size: 0.9em;
            opacity: 0.8;
        }
    }
    
    .osd-music-download-buttons {
        padding-left: 1rem;
        
        .osd-music-controlbtn {
            margin: 0 0.25rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            background: $secondaryContainer;
            
            &:hover {
                background: mix($secondaryContainer, $onSecondaryContainer, 90%);
            }
            
            &:active {
                background: mix($secondaryContainer, $onSecondaryContainer, 85%);
            }
            
            .osd-music-controlbtn-txt {
                font-size: 1.2em;
            }
        }
    }
}

.osd-music-cover-fallback {
    @include element_decel;
    @include small-rounding;
    // margin: 1.023rem;
    min-width: 7.5rem;
    min-height: 7.5rem;
    background-color: $layer1;
    color: $onSecondaryContainer;
}

.osd-music-cover {
    @include small-rounding;
    @include menu_decel;
    // Must be -top and -bottom or it'll mess up horizontal spacing
    margin-top: 1.023rem;
    margin-bottom: 1.023rem;
    min-width: 7.5rem;
    min-height: 7.5rem;
}

.osd-music-cover-art {
    @include small-rounding;
    min-width: 7.5rem;
    min-height: 7.5rem;
    background-size: cover;
    background-position: center;
}

.osd-music-pill {
    @include element_decel;
    @include full-rounding;
    @include titlefont;
    min-width: 1.833rem;
    padding: 0.273rem 0.682rem;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
}

.osd-music-controls {
    @include element_decel;
    @include full-rounding;
    @include titlefont;
    min-width: 1.833rem;
    padding: 0.205rem;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
}

.osd-music-controlbtn {
    @include menu_decel;
    min-width: 2.045rem;
    min-height: 2.045rem;
    @include full-rounding;
}

.osd-music-controlbtn:hover,
.osd-music-controlbtn:focus {
    background-color: mix($secondaryContainer, $onSecondaryContainer, 90%);
}

.osd-music-controlbtn:active {
    background-color: mix($secondaryContainer, $onSecondaryContainer, 85%);
}

.osd-music-controlbtn-txt {
    @include element_decel;
    transition: 100ms cubic-bezier(0.05, 0.7, 0.1, 1);
    @include icon-material;
    font-size: 1.364rem;
    margin: -0.1rem 0rem;
}

.osd-music-circprog {
    @include fluent_decel_long;
    min-width: 0.409rem; // width of progress
    min-height: 3.068rem;
    padding: 0.273rem;
    color: $onSecondaryContainer;
}

.osd-music-playstate {
    @include menu_decel;
    min-height: 3.068rem;
    min-width: 3.068rem;
    border-radius: 10rem;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
}

.osd-music-playstate-btn>label {
    transition: 50ms cubic-bezier(0.05, 0.7, 0.1, 1);
    @include icon-material;
    font-size: 1.364rem;
    margin: -0.1rem 0rem;
}

.osd-ipod {
    @include large-rounding;
    background: $layer0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border: 0.55px solid $outline;
    margin: 0 1rem 1rem;
    padding: 0rem 1.023rem;
}

.track-item {
    color: $onLayer1;
    
    @include titlefont;
    padding: 4px;
    margin: 2px 0;
    transition: background-color 0.2s ease;
    @include normal-rounding;
    &:hover {
        background-color: $hovercolor;
    }

    .track-item-info {
        margin: 8px;
        margin-left: 0;
        
        .track-item-title {
            @include titlefont;
            color:$onLayer0;
            // font-weight: bold;
            font-size: 1.1em;
        }
        
        .track-item-artist {
            opacity: 0.8;
            font-size: 0.9em;
        }
    }       

.ytm-now-playing-artist{
    opacity: 0.8;
    font-size: 1rem;   
    color:$onLayer0;
}   
    .track-item-buttons {
        margin: 8px;
        font-size   : 20px;
        
        button {
            padding: 8px;
            margin: 0 4px;
            border-radius: 8px;
            opacity: 0.8;
            transition: all 0.2s ease;
            &:hover {
                opacity: 1;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

.ipod-widget {
    @include large-rounding;
    background: linear-gradient(127deg, transparentize($music_gradient1, $music_colorstart_transparentize), transparentize($music_gradient1, $music_colorstart_transparentize - $music_transparentize_amount + $music_extra_transparentize) 70.71%),
        linear-gradient(217deg, transparentize($music_gradient2, $music_colorstart_transparentize), transparentize($music_gradient2, $music_colorstart_transparentize - $music_transparentize_amount + $music_extra_transparentize) 70.71%),
        radial-gradient(circle at 0% 100%, $color4 13%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(336deg, transparentize($music_gradient3, $music_colorstart_transparentize), transparentize($music_gradient3, $music_colorstart_transparentize - $music_transparentize_amount + $music_extra_transparentize) 70.71%),
        linear-gradient($background, $background);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border: 0.55px solid $outline;
    margin: 0 1rem 1rem;
    .ipod-content {
        padding: 1rem 2.1rem;
      
        .app-icon {
            background-color: $secondaryContainer;
            @include full-rounding;
            margin: 0.5rem;
            padding: 0.2rem;
        }
        .cover-art {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
        }
        .track-title {
            @include mainfont;
            font-size: 2.8rem;
            color: $onSecondaryContainer;
        }
        
        .track-artist {
            @include mainfont;
            color: $onSecondaryContainer;
            margin-top: 0.5rem;
            font-size: 1.8rem;
        }

        .right-section {
            .volume-indicator {
                .volume-container {
                    min-width: 1.77rem;
                    min-height: 1.77rem;
                    .volume-label {
                        color: $onSecondaryContainer;
                        font-size: 0.9rem;
                        margin: 0;
                    }
                    
                    .volume-progress {
                        @include full-rounding;
                        @include element_decel;
                        min-height: 1.77rem;
                        min-width: 1.77rem;
                        background-color: transparentize($onSecondaryContainer, 0.8);
                        color: $onSecondaryContainer;
                    }
                }
            }
            
            .app-icon-volume-container {
                background-color: $secondaryContainer;
                @include large-rounding;
                margin: 0.5rem;
                padding: 0.5rem;
            }
            
            .play-button {
                background: $secondaryContainer;
                padding: 0.7rem;
            }
            
          
        }
    }
}

.cava-visualizer {
    .cava-bar {
        font-family: monospace;
        font-size: 2.1rem;
        transition: color 200ms linear;
        color: $onSecondaryContainer;
        opacity: 0.9;
        margin: 0 0.5px;
        padding: 0 2px;

        &.cava-bar-med {
            color: $primary;
        }
        
        &.cava-bar-high {
            color: $primary;
        }
    }
}

.app-icon-volume-container {
    background-color: $secondaryContainer;
    @include large-rounding;
    margin-top: 1rem;
    padding: 0.6rem 0.9rem;
    border: 0.5px solid $outline;
}

.control-buttons{
    @include full-rounding;
    @include element_decel;
    color:$battOnLayer2;
    padding:0.5rem;
    background-color: $layer0;
    &:hover{
       background-color:  mix($secondaryContainer, $onSecondaryContainer, 90%);
    }
    &:active{
        background-color: mix($secondaryContainer, $onSecondaryContainer, 85%);
    }
}
.control-button {
    @include icon-material;
    padding: 0.3rem;
    border-radius: 50%;
    color:$battOnLayer2;
    transition: all 200ms ease;
    font-size: 2rem;
    &:hover {
        background: mix($secondaryContainer, $onSecondaryContainer, 90%);
    }
    
    &:active {
        background: mix($secondaryContainer, $onSecondaryContainer, 85%);
    }
    
    &.active {
        color:$battOnLayer2;
    }
}
.volume-icon {
    padding:0 3px;
    @include full-rounding;
    @include element_decel;
    min-height: 3.1rem;
    min-width: 3.3rem;
    border-radius: 10rem;
    color: $battOnLayer2;
}
.volume-circprog {
    border:0.12rem solid $outline;
    @include fluent_decel_long;
    min-width: 0.4rem; // line width
    min-height: 3.1rem;
    padding: 0rem;
    background-color: $battLayer2;
    color: $battOnLayer2;
}
