// Prayer Times Module Styles
.sidebar-prayertime-top {
    @include normal-rounding;
    background-color: mix($primary, $layer1Active, 40%);
    padding: 0.682rem;
    margin-top:0.7rem;
    margin-bottom: 1rem;
    border:0.2rem solid $outline;
}

.sidebar-prayertime-next {
    margin: 1.682rem 0;
    margin-top: 0.341rem;
    @include mainfont;

}

.sidebar-prayertime-item {
    @include small-rounding;
    @include mainfont;

    @include element_decel;
    padding: 0.682rem;
    background-color: mix($surfaceContainer, $primary, 96%);
}

.sidebar-prayertime-item:hover {
    background-color: mix($surfaceContainerLow,$primary, 85%);
}

.sidebar-prayertime-item:active {
    background-color: mix($surfaceContainerLow, $primary, 70%);
}

.sidebar-prayertime-name {
    @include mainfont;
    color: $onSurface;
    margin: 0.273rem 0;
    font-weight: 500;


}

.sidebar-prayertime-time {
    @include mainfont;
    font-weight: 700;
    color: $primary;
    min-width: 45px;
    margin: 0.273rem 0;
}
