// Todo Module Styles
.sidebar-todo {
    @include normal-rounding;
    background-color: $surfaceContainer;
    padding: 0.682rem;
}

.sidebar-todo-item {
    @include small-rounding;
    @include element_decel;
    padding: 0.682rem;
    background-color: $surfaceContainerLow;
    margin: 0.341rem 0;
}

.sidebar-todo-item:hover {
    background-color: mix($surfaceContainerLow, $surfaceContainerLowest, 85%);
}

.sidebar-todo-item:active {
    background-color: mix($surfaceContainerLow, $surfaceContainerLowest, 70%);
}

.sidebar-todo-crosser {
    color: mix($onSurfaceVariant, $surfaceContainerLow, 60%);
}

.sidebar-todo-item-action {
    @include full-rounding;
    @include element_decel;
    min-width: 2.045rem;
    min-height: 2.045rem;
    background-color: $surfaceContainerLowest;
    color: $onSurfaceVariant;
}

.sidebar-todo-item-action:hover {
    background-color: mix($surfaceContainerLowest, $surfaceContainerLow, 85%);
}

.sidebar-todo-item-action:active {
    background-color: mix($surfaceContainerLowest, $surfaceContainerLow, 70%);
}

.sidebar-todo-entry {
    @include small-rounding;
    background-color: $surfaceContainerLow;
    color: $onSurface;
    caret-color: $primary;
    padding: 0.341rem 0.682rem;
}

.sidebar-todo-entry:focus {
    background-color: mix($surfaceContainerLow, $surfaceContainerLowest, 85%);
}

.sidebar-todo-add {
    @include small-rounding;
    background-color: $primary;
    color: $onPrimary;
    min-height: 2.045rem;
}

.sidebar-todo-add:hover {
    background-color: mix($primary, $surfaceContainerHighest, 85%);
}

.sidebar-todo-add:active {
    background-color: mix($primary, $surfaceContainerHighest, 70%);
}

.sidebar-todo-new {
    color: mix($onSurface, $surfaceContainer, 75%);
}

.sidebar-todo-new:hover {
    color: mix($onSurface, $surfaceContainer, 85%);
}

.sidebar-todo-add-available {
    color: $primary;
}
