// matugen template for my ags shell
$darkmode: True; //place holder
$transparent: True;

$primary: #aacae5;
$onPrimary: #113349;
$primaryContainer: #082d42;
$onPrimaryContainer: #9abad4;
$secondary: #bcc8d4;
$onSecondary: #26323b;
$secondaryContainer: #3d4852;
$onSecondaryContainer: #d6e1ee;
$tertiary: #dbbce3;
$onTertiary: #3e2847;
$tertiaryContainer: #372240;
$onTertiaryContainer: #caadd2;
$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;
$onErrorContainer: #ffdad6;
$colorbarbg: #121315;
$background: #121315;
$onBackground: #e3e2e4;
$surface: #121315;
$onSurface: #e3e2e4;
$surfaceVariant: #42474c;
$onSurfaceVariant: #c2c7cd;
$outline: #8c9197;
$shadow: #000000;
$inverseSurface: #e3e2e4;
$inverseOnSurface: #2f3032;
$inversePrimary: #436279;

$primary_paletteKeyColor: #846CA7;
$secondary_paletteKeyColor: #7D7389;
$tertiary_paletteKeyColor: #9B6A74;
$neutral_paletteKeyColor: #7A757C;
$neutral_variant_paletteKeyColor: #7B757F;
$surfaceDim: #151218;
$surfaceBright: #3B383E;
$surfaceContainerLowest: #100D12;
$surfaceContainerLow: #1D1A20;
$surfaceContainer: #211E24;
$surfaceContainerHigh: #2C292F;
$surfaceContainerHighest: #37333A;
$outlineVariant: #4A454E;
$scrim: #000000;
$surfaceTint: #D6BBFB;
$primaryFixed: #EDDCFF;
$primaryFixedDim: #D6BBFB;
$onPrimaryFixed: #250E45;
$onPrimaryFixedVariant: #523C73;
$secondaryFixed: #EBDDF7;
$secondaryFixedDim: #CEC2DB;
$onSecondaryFixed: #1F182A;
$onSecondaryFixedVariant: #4C4357;
$tertiaryFixed: #FFD9DF;
$tertiaryFixedDim: #F1B7C2;
$onTertiaryFixed: #321019;
$onTertiaryFixedVariant: #643B44;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;