// matugen template for my ags shell
$primary: #a6d395;
$onPrimary: #12380b;
$primaryContainer: #294f20;
$onPrimaryContainer: #c1efaf;
$secondary: #bbcbb1;
$onSecondary: #273422;
$secondaryContainer: #3d4b37;
$onSecondaryContainer: #d7e8cc;
$tertiary: #a0cfd1;
$onTertiary: #003739;
$tertiaryContainer: #1e4d50;
$onTertiaryContainer: #bcebee;
$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;
$onErrorContainer: #ffdad6;
$colorbarbg: #11140f;
$background: #11140f;
$onBackground: #e1e4da;
$surface: #11140f;
$onSurface: #e1e4da;
$surfaceVariant: #43483f;
$onSurfaceVariant: #c3c8bc;
$outline: #8d9387;
$shadow: #000000;
$inverseSurface: #e1e4da;
$inverseOnSurface: #2e322b;
$inversePrimary: #406835;

$primary_paletteKeyColor: #846CA7;
$secondary_paletteKeyColor: #7D7389;
$tertiary_paletteKeyColor: #9B6A74;
$neutral_paletteKeyColor: #7A757C;
$neutral_variant_paletteKeyColor: #7B757F;
$surfaceDim: #151218;
$surfaceBright: #3B383E;
$surfaceContainerLowest: #100D12;
$surfaceContainerLow: #1D1A20;
$surfaceContainer: #211E24;
$surfaceContainerHigh: #2C292F;
$surfaceContainerHighest: #37333A;
$outlineVariant: #4A454E;
$scrim: #000000;
$surfaceTint: #D6BBFB;
$primaryFixed: #EDDCFF;
$primaryFixedDim: #D6BBFB;
$onPrimaryFixed: #250E45;
$onPrimaryFixedVariant: #523C73;
$secondaryFixed: #EBDDF7;
$secondaryFixedDim: #CEC2DB;
$onSecondaryFixed: #1F182A;
$onSecondaryFixedVariant: #4C4357;
$tertiaryFixed: #FFD9DF;
$tertiaryFixedDim: #F1B7C2;
$onTertiaryFixed: #321019;
$onTertiaryFixedVariant: #643B44;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;