.config/ags/node_modules
.config/ags/scss/_musicmaterial.scss
.config/ags/scss/_musicwal.scss
.config/ags/scss/_material.scss
/diagnose.result
/ii_ags.log
/cache
# Ignore Python cache files
__pycache__/
*.py[cod]
.config/hypr/custom/scripts/__restore_video_wallpaper.sh
.config/hypr/hyprland/colors.conf
.config/hypr/hyprlock.conf
