// matugen template for my ags shell
$primary: {{colors.primary.default.hex}};
$onPrimary: {{colors.on_primary.default.hex}};
$primaryContainer: {{colors.primary_container.default.hex}};
$onPrimaryContainer: {{colors.on_primary_container.default.hex}};
$secondary: {{colors.secondary.default.hex}};
$onSecondary: {{colors.on_secondary.default.hex}};
$secondaryContainer: {{colors.secondary_container.default.hex}};
$onSecondaryContainer: {{colors.on_secondary_container.default.hex}};
$tertiary: {{colors.tertiary.default.hex}};
$onTertiary: {{colors.on_tertiary.default.hex}};
$tertiaryContainer: {{colors.tertiary_container.default.hex}};
$onTertiaryContainer: {{colors.on_tertiary_container.default.hex}};
$error: {{colors.error.default.hex}};
$onError: {{colors.on_error.default.hex}};
$errorContainer: {{colors.error_container.default.hex}};
$onErrorContainer: {{colors.on_error_container.default.hex}};
$colorbarbg: {{colors.background.default.hex}};
$background: {{colors.background.default.hex}};
$onBackground: {{colors.on_background.default.hex}};
$surface: {{colors.surface.default.hex}};
$onSurface: {{colors.on_surface.default.hex}};
$surfaceVariant: {{colors.surface_variant.default.hex}};
$onSurfaceVariant: {{colors.on_surface_variant.default.hex}};
$outline: {{colors.outline.default.hex}};
$shadow: {{colors.shadow.default.hex}};
$inverseSurface: {{colors.inverse_surface.default.hex}};
$inverseOnSurface: {{colors.inverse_on_surface.default.hex}};
$inversePrimary: {{colors.inverse_primary.default.hex}};

$primary_paletteKeyColor: #846CA7;
$secondary_paletteKeyColor: #7D7389;
$tertiary_paletteKeyColor: #9B6A74;
$neutral_paletteKeyColor: #7A757C;
$neutral_variant_paletteKeyColor: #7B757F;
$surfaceDim: #151218;
$surfaceBright: #3B383E;
$surfaceContainerLowest: #100D12;
$surfaceContainerLow: #1D1A20;
$surfaceContainer: #211E24;
$surfaceContainerHigh: #2C292F;
$surfaceContainerHighest: #37333A;
$outlineVariant: #4A454E;
$scrim: #000000;
$surfaceTint: #D6BBFB;
$primaryFixed: #EDDCFF;
$primaryFixedDim: #D6BBFB;
$onPrimaryFixed: #250E45;
$onPrimaryFixedVariant: #523C73;
$secondaryFixed: #EBDDF7;
$secondaryFixedDim: #CEC2DB;
$onSecondaryFixed: #1F182A;
$onSecondaryFixedVariant: #4C4357;
$tertiaryFixed: #FFD9DF;
$tertiaryFixedDim: #F1B7C2;
$onTertiaryFixed: #321019;
$onTertiaryFixedVariant: #643B44;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;